.container {
    padding: 10px;
    background-color:  #272635 ;
    color: white;
    height: auto;
}

.properitiesContainer {
    line-height: 10px;
    padding: 12px;
}

.specialP {
    padding-bottom: 4px;
}