* {
  box-sizing: border-box;
}

html {
  font-size: 20px;
  font-family: sans-serif;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #e2e2e9;
}

h1,h2,h3,h4,h5 {
  padding: 0;
  margin: 0;
}

main {
  height: auto;
  width: 100%;
}

.contentContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

section {
  padding: 40px 0;
}
/* kolor wygenerowny kod  */
/* #272635 */

/* #A6A6A8 */